:root{
  --teal:rgb(11, 100, 244);
  --teal_hover:rgb(17, 21, 19);
   
}

* {
  font-family: "Poppins", sans-serif;
  /* font for whole website */
}

.h1-font {
  font-family: "Merienda", cursive;
  /* font for heading  */
}

/* Chrome, Safari, Edge, Opera - hide number arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox-  hide number arrows*/
input[type="number"] {
  -moz-appearance: textfield;
}

/* button  */
.custum-bt {
  background-color: var(--teal);
  border-color: 1px solid var(--teal);
}
.custum-bt:hover {
  background-color: var(--teal_hover)
}

.h-line{
  width:150px;
  height: 1.7px;
  margin: auto;
}